# Create a Web Application for an ETF Analyzer

In this Challenge assignment, you’ll build a financial database and web application by using SQL, Python, and the Voilà library to analyze the performance of a hypothetical fintech ETF.

Instructions: 

Use this notebook to complete your analysis of a fintech ETF that consists of four stocks: GOST, GS, PYPL, and SQ. Each stock has its own table in the `etf.db` database, which the `Starter_Code` folder also contains.

Analyze the daily returns of the ETF stocks both individually and as a whole. Then deploy the visualizations to a web application by using the Voilà library.

The detailed instructions are divided into the following parts:

* Analyze a single asset in the ETF

* Optimize data access with Advanced SQL queries

* Analyze the ETF portfolio

* Deploy the notebook as a web application

#### Analyze a Single Asset in the ETF

For this part of the assignment, you’ll use SQL queries with Python, Pandas, and hvPlot to analyze the performance of a single asset from the ETF.

Complete the following steps:

1. Write a SQL `SELECT` statement by using an f-string that reads all the PYPL data from the database. Using the SQL `SELECT` statement, execute a query that reads the PYPL data from the database into a Pandas DataFrame.

2. Use the `head` and `tail` functions to review the first five and the last five rows of the DataFrame. Make a note of the beginning and end dates that are available from this dataset. You’ll use this information to complete your analysis.

3. Using hvPlot, create an interactive visualization for the PYPL daily returns. Reflect the “time” column of the DataFrame on the x-axis. Make sure that you professionally style and format your visualization to enhance its readability.

4. Using hvPlot, create an interactive visualization for the PYPL cumulative returns. Reflect the “time” column of the DataFrame on the x-axis. Make sure that you professionally style and format your visualization to enhance its readability.

#### Optimize Data Access with Advanced SQL Queries

For this part of the assignment, you’ll continue to analyze a single asset (PYPL) from the ETF. You’ll use advanced SQL queries to optimize the efficiency of accessing data from the database.

Complete the following steps:

1. Access the closing prices for PYPL that are greater than 200 by completing the following steps:

    - Write a SQL `SELECT` statement to select the dates where the PYPL closing price was higher than 200.0.

    - Using the SQL statement, read the data from the database into a Pandas DataFrame, and then review the resulting DataFrame.

    - Select the “time” and “close” columns for those dates where the closing price was higher than 200.0.

2. Find the top 10 daily returns for PYPL by completing the following steps:

    -  Write a SQL statement to find the top 10 PYPL daily returns. Make sure to do the following:

        * Use `SELECT` to select only the “time” and “daily_returns” columns.

        * Use `ORDER` to sort the results in descending order by the “daily_returns” column.

        * Use `LIMIT` to limit the results to the top 10 daily return values.

    - Using the SQL statement, read the data from the database into a Pandas DataFrame, and then review the resulting DataFrame.

#### Analyze the ETF Portfolio

For this part of the assignment, you’ll build the entire ETF portfolio and then evaluate its performance. To do so, you’ll build the ETF portfolio by using SQL joins to combine all the data for each asset.

Complete the following steps:

1. Write a SQL query to join each table in the portfolio into a single DataFrame. To do so, complete the following steps:

    - Use a SQL inner join to join each table on the “time” column. Access the “time” column in the `GDOT` table via the `GDOT.time` syntax. Access the “time” columns from the other tables via similar syntax.

    - Using the SQL query, read the data from the database into a Pandas DataFrame. Review the resulting DataFrame.

2. Create a DataFrame that averages the “daily_returns” columns for all four assets. Review the resulting DataFrame.

    > **Hint** Assuming that this ETF contains equally weighted returns, you can average the returns for each asset to get the average returns of the portfolio. You can then use the average returns of the portfolio to calculate the annualized returns and the cumulative returns. For the calculation to get the average daily returns for the portfolio, use the following code:
    >
    > ```python
    > etf_portfolio_returns = etf_portfolio['daily_returns'].mean(axis=1)
    > ```
    >
    > You can use the average daily returns of the portfolio the same way that you used the daily returns of a single asset.

3. Use the average daily returns in the `etf_portfolio_returns` DataFrame to calculate the annualized returns for the portfolio. Display the annualized return value of the ETF portfolio.

> **Hint**  To calculate the annualized returns, multiply the mean of the `etf_portfolio_returns` values by 252.
>
> To convert the decimal values to percentages, multiply the results by 100.

4. Use the average daily returns in the `etf_portfolio_returns` DataFrame to calculate the cumulative returns of the ETF portfolio.

5. Using hvPlot, create an interactive line plot that visualizes the cumulative return values of the ETF portfolio. Reflect the “time” column of the DataFrame on the x-axis. Make sure that you professionally style and format your visualization to enhance its readability.

#### Deploy the Notebook as a Web Application

For this part of the assignment, complete the following steps:

1. Use the Voilà library to deploy your notebook as a web application. You can deploy the web application locally on your computer.

2. Take a screen recording or screenshots to show how the web application appears when using Voilà. Include the recording or screenshots in the `README.md` file for your GitHub repository.

## Review the following code which imports the required libraries, initiates your SQLite database, popluates the database with records from the `etf.db` seed file that was included in your Starter_Code folder, creates the database engine, and confirms that data tables that it now contains.

In [14]:
# Importing the required libraries and dependencies
import numpy as np
import pandas as pd
import hvplot.pandas
import sqlalchemy

# Create a temporary SQLite database and populate the database with content from the etf.db seed file
database_string = 'sqlite:///etf.db'

# Create an engine to interact with the SQLite database
engine = sqlalchemy.create_engine(database_string)

# Confirm that table names contained in the SQLite database.
engine.table_names()

/Users/jenniferjackson/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:14: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

[]

## Analyze a single asset in the FinTech ETF

For this part of the assignment, you’ll use SQL queries with Python, Pandas, and hvPlot to analyze the performance of a single asset from the ETF.

Complete the following steps:

1. Write a SQL `SELECT` statement by using an f-string that reads all the PYPL data from the database. Using the SQL `SELECT` statement, execute a query that reads the PYPL data from the database into a Pandas DataFrame.

2. Use the `head` and `tail` functions to review the first five and the last five rows of the DataFrame. Make a note of the beginning and end dates that are available from this dataset. You’ll use this information to complete your analysis.

3. Using hvPlot, create an interactive visualization for the PYPL daily returns. Reflect the “time” column of the DataFrame on the x-axis. Make sure that you professionally style and format your visualization to enhance its readability.

4. Using hvPlot, create an interactive visualization for the PYPL cumulative returns. Reflect the “time” column of the DataFrame on the x-axis. Make sure that you professionally style and format your visualization to enhance its readability.

### Step 1: Write a SQL `SELECT` statement by using an f-string that reads all the PYPL data from the database. Using the SQL `SELECT` statement, execute a query that reads the PYPL data from the database into a Pandas DataFrame.

In [15]:
# Write a SQL query to SELECT all of the data from the PYPL table
read_all_data= """
SELECT *FROM PYPL
"""

# Use the query to read the PYPL data into a Pandas DataFrame

column_list = ['time', 'open', 'high', 'low', 'close', 'volume', 'daily_returns']
pypl_dataframe = pd.DataFrame(engine.execute(read_all_data), columns=column_list)
pypl_dataframe['time'] = pd.to_datetime(pypl_dataframe['time'])

pypl_dataframe

OperationalError: (sqlite3.OperationalError) no such table: PYPL
[SQL:
SELECT *FROM PYPL
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

### Step 2: Use the `head` and `tail` functions to review the first five and the last five rows of the DataFrame. Make a note of the beginning and end dates that are available from this dataset. You’ll use this information to complete your analysis.

In [3]:
# View the first 5 rows of the DataFrame.
pypl_dataframe.head(5)

NameError: name 'pypl_dataframe' is not defined

In [4]:
# View the last 5 rows of the DataFrame.
pypl_dataframe.tail(5)

NameError: name 'pypl_dataframe' is not defined

### Step 3: Using hvPlot, create an interactive visualization for the PYPL daily returns. Reflect the “time” column of the DataFrame on the x-axis. Make sure that you professionally style and format your visualization to enhance its readability.

In [5]:
# Create an interactive visualization with hvplot to plot the daily returns for PYPL.
# Use hvplot() function to plot your DataFrame
# Label the x-axis "Date" and the y-axis "Return"
pypl_dataframe["Daily Returns %"] = pypl_dataframe['daily_returns']*100
pypl_dataframe.hvplot(
    title="PYPL Daily Returns (%)"
    ,y='daily_returns'
    ,xlabel= 'Date'
    ,ylabel='Returns (%)'
    ,width=800
).opts(color='blue')

NameError: name 'pypl_dataframe' is not defined

### Step 4: Using hvPlot, create an interactive visualization for the PYPL cumulative returns. Reflect the “time” column of the DataFrame on the x-axis. Make sure that you professionally style and format your visualization to enhance its readability.

In [6]:
# Create an interactive visaulization with hvplot to plot the cumulative returns for PYPL.
growth_of_1usd_investment=(1+pypl_dataframe["daily_returns"]).cumprod()

#Transforming a series to a dataframe and renaming columns
growth_of_1usd_investment = growth_of_1usd_investment.to_frame().rename(columns={'daily_returns':'Growth of 1 USD Investment'})
print("\033[1m Table: Evolution of a $1 initial investment on Dec 16th 2016 on the ETF.")

display(growth_of_1usd_investment)

# Create an interactive visaulization with hvplot to plot the cumulative returns for PYPL.
growth_of_1usd_investment.hvplot(
    title="Paypal Holdings Inc -- Growth of 1 USD Initial Investment -- Period Dec-16-2016 to Dec 4th 2020"
    ,ylabel="Initial Investment \n plus Cumulative Return"
    ,xlabel= "Date"
    ,width=900)

NameError: name 'pypl_dataframe' is not defined

## Optimize the SQL Queries

For this part of the assignment, you’ll continue to analyze a single asset (PYPL) from the ETF. You’ll use advanced SQL queries to optimize the efficiency of accessing data from the database.

Complete the following steps:

1. Access the closing prices for PYPL that are greater than 200 by completing the following steps:

1. Access the closing prices for PYPL that are greater than 200 by completing the following steps:

    - Write a SQL `SELECT` statement to select the dates where the PYPL closing price was higher than 200.0.

    - Select the “time” and “close” columns for those dates where the closing price was higher than 200.0.

    - Using the SQL statement, read the data from the database into a Pandas DataFrame, and then review the resulting DataFrame.

2. Find the top 10 daily returns for PYPL by completing the following steps:

    -  Write a SQL statement to find the top 10 PYPL daily returns. Make sure to do the following:

        * Use `SELECT` to select only the “time” and “daily_returns” columns.

        * Use `ORDER` to sort the results in descending order by the “daily_returns” column.

        * Use `LIMIT` to limit the results to the top 10 daily return values.

    - Using the SQL statement, read the data from the database into a Pandas DataFrame, and then review the resulting DataFrame.

### Step 1: Access the closing prices for PYPL that are greater than 200 by completing the following steps:

    - Write a SQL `SELECT` statement to select the dates where the PYPL closing price was higher than 200.0.

    - Select the “time” and “close” columns for those dates where the closing price was higher than 200.0.

    - Using the SQL statement, read the data from the database into a Pandas DataFrame, and then review the resulting DataFrame.

In [ ]:
# Write a SQL SELECT statement to select the time and close columns 
# where the PYPL closing price was higher than 200.0.
query = """
SELECT *
FROM PYPL
WHERE close > 200
"""

# Using the query, read the data from the database into a Pandas DataFrame
pypl_higher_than_200_df = pd.read_sql(query, con = engine)

# Review the resulting DataFrame
pypl_higher_than_200_df

,time,open,high,low,close,volume,daily_returns
0,2020-08-05 00:00:00.000000,199.0000,204.2300,198.0900,202.920,6231740,0.027911
1,2020-08-06 00:00:00.000000,202.0000,204.1600,198.8800,204.090,5131981,0.005766
2,2020-08-25 00:00:00.000000,198.4900,201.9600,196.2400,201.710,3911979,0.013924
3,2020-08-26 00:00:00.000000,202.5300,205.3500,200.2500,203.530,4572164,0.009023
4,2020-08-27 00:00:00.000000,206.8100,207.0000,202.3000,204.340,5161700,0.003980
5,2020-08-28 00:00:00.000000,205.4159,205.4159,202.4200,204.480,3723872,0.000685
6,2020-08-31 00:00:00.000000,203.7000,205.2523,202.2984,203.950,4541288,-0.002592
7,2020-09-01 00:00:00.000000,205.5900,209.8799,205.1450,208.920,5344347,0.024369
8,2020-09-02 00:00:00.000000,211.6222,212.4500,204.6000,210.820,6467777,0.009094
9,2020-09-03 00:00:00.000000,205.6900,206.5900,194.9500,205.070,14251722,-0.027274
10,2020-10-12 00:00:00.000000,199.8700,204.0800,196.6323,201.500,8963835,0.021443
11,2020-10-13 00:00:00.000000,202.1500,208.9500,200.1100,207.730,6429243,0.030918
12,2020-10-14 00:00:00.000000,208.2035,208.9480,200.5000,203.660,7622162,-0.019593
13,2020-10-15 00:00:00.000000,199.9900,203.4800,198.1280,203.170,6217366,-0.002406
14,2020-10-16 00:00:00.000000,204.4400,207.4700,202.2200,204.540,8786056,0.006743
15,2020-10-19 00:00:00.000000,205.6400,207.2300,199.1000,200.050,5098521,-0.021952
16,2020-10-20 00:00:00.000000,201.1400,205.4700,200.3100,201.960,4080299,0.009548
17,2020-10-21 00:00:00.000000,208.3000,215.8300,206.0200,213.060,13396160,0.054961
18,2020-10-22 00:00:00.000000,211.9000,212.3400,202.1403,203.880,10988041,-0.043086
19,2020-10-23 00:00:00.000000,206.2400,206.2400,201.2100,203.040,5836734,-0.004120
20,2020-10-27 00:00:00.000000,198.7900,201.3200,197.7200,200.440,3462757,0.016378
21,2020-11-05 00:00:00.000000,202.3000,204.9200,199.3700,204.590,12618928,0.053447
22,2020-11-06 00:00:00.000000,204.6000,204.9200,198.5500,202.720,7075679,-0.009140
23,2020-11-23 00:00:00.000000,194.5300,202.1600,193.9200,200.820,10519696,0.042571
24,2020-11-24 00:00:00.000000,204.0000,207.0791,198.8600,206.000,13072036,0.025794
25,2020-11-25 00:00:00.000000,206.2900,216.0700,206.2300,214.380,11779276,0.040680
26,2020-11-27 00:00:00.000000,213.2000,213.8400,208.6200,211.320,4806373,-0.014274
27,2020-11-30 00:00:00.000000,212.5100,215.8300,207.0900,214.200,8992681,0.013629
28,2020-12-01 00:00:00.000000,217.1500,220.5700,214.3401,216.520,9148174,0.010831
29,2020-12-02 00:00:00.000000,215.6000,215.7500,210.5000,212.660,6414746,-0.017827
30,2020-12-03 00:00:00.000000,213.3300,216.9300,213.1100,214.680,6463339,0.009499
31,2020-12-04 00:00:00.000000,214.8800,217.2800,213.0100,217.235,2118319,0.011901

### Step 2: Find the top 10 daily returns for PYPL by completing the following steps:

    -  Write a SQL statement to find the top 10 PYPL daily returns. Make sure to do the following:

        * Use `SELECT` to select only the “time” and “daily_returns” columns.

        * Use `ORDER` to sort the results in descending order by the “daily_returns” column.

        * Use `LIMIT` to limit the results to the top 10 daily return values.

    - Using the SQL statement, read the data from the database into a Pandas DataFrame, and then review the resulting DataFrame.

In [ ]:
# Write a SQL SELECT statement to select the time and daily_returns columns
# Sort the results in descending order and return only the top 10 return values
query = """
SELECT* 
FROM PYPL
WHERE close > 200
ORDER BY close DESC
LIMIT 10;
"""

# Using the query, read the data from the database into a Pandas DataFrame
pypl_top_10_returns = pd.read_sql(query, con = engine)

# Review the resulting DataFrame
pypl_top_10_returns

,time,open,high,low,close,volume,daily_returns
0,2020-12-04 00:00:00.000000,214.8800,217.2800,213.0100,217.235,2118319,0.011901
1,2020-12-01 00:00:00.000000,217.1500,220.5700,214.3401,216.520,9148174,0.010831
2,2020-12-03 00:00:00.000000,213.3300,216.9300,213.1100,214.680,6463339,0.009499
3,2020-11-25 00:00:00.000000,206.2900,216.0700,206.2300,214.380,11779276,0.040680
4,2020-11-30 00:00:00.000000,212.5100,215.8300,207.0900,214.200,8992681,0.013629
5,2020-10-21 00:00:00.000000,208.3000,215.8300,206.0200,213.060,13396160,0.054961
6,2020-12-02 00:00:00.000000,215.6000,215.7500,210.5000,212.660,6414746,-0.017827
7,2020-11-27 00:00:00.000000,213.2000,213.8400,208.6200,211.320,4806373,-0.014274
8,2020-09-02 00:00:00.000000,211.6222,212.4500,204.6000,210.820,6467777,0.009094
9,2020-09-01 00:00:00.000000,205.5900,209.8799,205.1450,208.920,5344347,0.024369

## Analyze the Fintech ETF Portfolio

For this part of the assignment, you’ll build the entire ETF portfolio and then evaluate its performance. To do so, you’ll build the ETF portfolio by using SQL joins to combine all the data for each asset.

Complete the following steps:

1. Write a SQL query to join each table in the portfolio into a single DataFrame. To do so, complete the following steps:

    - Use a SQL inner join to join each table on the “time” column. Access the “time” column in the `GDOT` table via the `GDOT.time` syntax. Access the “time” columns from the other tables via similar syntax.

    - Using the SQL query, read the data from the database into a Pandas DataFrame. Review the resulting DataFrame.

2. Create a DataFrame that averages the “daily_returns” columns for all four assets. Review the resulting DataFrame.

    > **Hint** Assuming that this ETF contains equally weighted returns, you can average the returns for each asset to get the average returns of the portfolio. You can then use the average returns of the portfolio to calculate the annualized returns and the cumulative returns. For the calculation to get the average daily returns for the portfolio, use the following code:
    >
    > ```python
    > etf_portfolio_returns = etf_portfolio['daily_returns'].mean(axis=1)
    > ```
    >
    > You can use the average daily returns of the portfolio the same way that you used the daily returns of a single asset.

3. Use the average daily returns in the `etf_portfolio_returns` DataFrame to calculate the annualized returns for the portfolio. Display the annualized return value of the ETF portfolio.

> **Hint**  To calculate the annualized returns, multiply the mean of the `etf_portfolio_returns` values by 252.
>
> To convert the decimal values to percentages, multiply the results by 100.

4. Use the average daily returns in the `etf_portfolio_returns` DataFrame to calculate the cumulative returns of the ETF portfolio.

5. Using hvPlot, create an interactive line plot that visualizes the cumulative return values of the ETF portfolio. Reflect the “time” column of the DataFrame on the x-axis. Make sure that you professionally style and format your visualization to enhance its readability.

### Step 1: Write a SQL query to join each table in the portfolio into a single DataFrame. To do so, complete the following steps:

    - Use a SQL inner join to join each table on the “time” column. Access the “time” column in the `GDOT` table via the `GDOT.time` syntax. Access the “time” columns from the other tables via similar syntax.

    - Using the SQL query, read the data from the database into a Pandas DataFrame. Review the resulting DataFrame.

In [ ]:
# Wreate a SQL query to join each table in the portfolio into a single DataFrame 
# Use the time column from each table as the basis for the join
query = """
SELECT* 
FROM GDOT, GS, PYPL, SQ
WHERE GDOT.time = GS.time
AND PYPL.time = SQ.time
AND GDOT.time = PYPL.time """

# Using the query, read the data from the database into a Pandas DataFrame
etf_portfolio = pd.read_sql_query(query, con = engine)

# Review the resulting DataFrame
etf_portfolio.head()

,time,open,high,low,close,volume,daily_returns,time,open,high,...,close,volume,daily_returns,time,open,high,low,close,volume,daily_returns
0,2016-12-16 00:00:00.000000,24.41,24.73,23.94,23.980,483544,-0.023218,2016-12-16 00:00:00.000000,242.80,243.19,...,39.32,7298861,-0.005564,2016-12-16 00:00:00.000000,14.29,14.47,14.2300,14.375,4516341,0.017339
1,2016-12-19 00:00:00.000000,24.00,24.01,23.55,23.790,288149,-0.007923,2016-12-19 00:00:00.000000,238.34,239.74,...,39.45,3436478,0.003306,2016-12-19 00:00:00.000000,14.34,14.60,14.3000,14.360,3944657,-0.001043
2,2016-12-20 00:00:00.000000,23.75,23.94,23.58,23.820,220341,0.001261,2016-12-20 00:00:00.000000,240.52,243.65,...,39.74,2940991,0.007351,2016-12-20 00:00:00.000000,14.73,14.82,14.4100,14.490,5207412,0.009053
3,2016-12-21 00:00:00.000000,23.90,23.97,23.69,23.860,249189,0.001679,2016-12-21 00:00:00.000000,242.24,242.40,...,40.09,5826704,0.008807,2016-12-21 00:00:00.000000,14.45,14.54,14.2701,14.380,3901738,-0.007591
4,2016-12-22 00:00:00.000000,23.90,24.01,23.70,24.005,383139,0.006077,2016-12-22 00:00:00.000000,241.23,242.86,...,39.68,4338385,-0.010227,2016-12-22 00:00:00.000000,14.33,14.34,13.9301,14.040,3874004,-0.023644

### Step 2: Create a DataFrame that averages the “daily_returns” columns for all four assets. Review the resulting DataFrame.

In [ ]:
# Create a DataFrame that displays the mean value of the “daily_returns” columns for all four assets.
etf_portfolio_returns = etf_portfolio['daily_returns'].mean(axis = 1)

# Review the resulting DataFrame
etf_portfolio_returns.head()

0   -0.007038
1   -0.001216
2    0.008567
3   -0.001004
4   -0.008243
dtype: float64

### Step 3: Use the average daily returns in the etf_portfolio_returns DataFrame to calculate the annualized returns for the portfolio. Display the annualized return value of the ETF portfolio.

In [ ]:
# Use the average daily returns provided by the etf_portfolio_returns DataFrame 
# to calculate the annualized return for the portfolio. 
annualized_etf_portfolio_returns = etf_portfolio_returns.mean()*252

# Display the annualized return value of the ETF portfolio.
annualized_etf_portfolio_returns

0.4382727240061359

### Step 4: Use the average daily returns in the `etf_portfolio_returns` DataFrame to calculate the cumulative returns of the ETF portfolio.

In [ ]:
# Use the average daily returns provided by the etf_portfolio_returns DataFrame 
# to calculate the cumulative returns
etf_cumulative_returns = (1+ etf_portfolio_returns).cumprod()

# Display the final cumulative return value
etf_cumulative_returns

NameError: name 'etf_portfolio_returns' is not defined

### Step 5: Using hvPlot, create an interactive line plot that visualizes the cumulative return values of the ETF portfolio. Reflect the “time” column of the DataFrame on the x-axis. Make sure that you professionally style and format your visualization to enhance its readability.

In [ ]:
# Using hvplot, create an interactive line plot that visualizes the ETF portfolios cumulative return values.
etf_cumulative_returns.hvplot(
    title="ETF - FinTech Stocks (GDOT, GS, PYPL, SQ): Growth of $1 USD Initial Investment"
    , ylabel="Cumulative Investment [$]"
    , xlabel= "Date"
    , width=900
)

NameError: name 'etf_cumulative_returns' is not defined